body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #ee9bd2; */
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #5f7a83;
    color: white;
    padding: 10px;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(25, 25, 24);
    text-decoration: none;
    margin-top: 10px;
   
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {display: inline-block;}
  ul li:hover {background: #eedee9;}
  ul li:hover ul {display: block;} 


section {
    padding: 40px;
    text-align: center;
}

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    margin-left: 45%;


    .icon {
        width: 24px;
        height: 24px;
        transition: all 0.3s ease-in-out;

    }
}

.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button:hover .icon {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}


#hero {
    background: url('hero-image.jpg') center center no-repeat;
    color: rgb(237, 241, 233);
    padding: 80px 20px;
}

#features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#features .feature {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    opacity: 0.8;

}

.feature:hover,.feature:active{
    font-size: 105%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 5%;
}


form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #87dd0f;
}